*.log
.DS_Store
node_modules
dist
.act-secrets
storybook-static
coverage

.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

stories/.yarn/*
!stories/.yarn/cache
!stories/.yarn/patches
!stories/.yarn/plugins
!stories/.yarn/releases
!stories/.yarn/sdks
!stories/.yarn/versions